/* font-family: 'Comfortaa', cursive; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Comfortaa', cursive;
  font-size: 10px;
  min-height: 100vh;
  background: url(/img/korea1280-0.jpg) no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 90vh;
  margin: 5vh 5%;
  background: rgba(255, 255, 255, 0.85);
  padding: 3%;
  justify-content: space-around;
}

.section-input,
.section-output {
  flex-basis: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.section-output {
  flex-basis: 45vh;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.language {
  display: flex;
  margin: 3% 0;
}

.flag {
  flex-basis: 20%;
  margin-right: 10%;
}

.flag img {
  width: 100%;
}

.word-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
}

.user-input:focus {
  border: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

.question {
  display: flex;
}

.drawed-text {
  align-self: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.btn {
  margin: 3% 0;
  padding: 2% 0;
  border: none;
  border-radius: 20px;
  font-family: 'Comfortaa', cursive;
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  width: 40%;
}

.section-input .btn {
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}